.slide-x-enter-active {
  transition: all 0.3s ease-in-out;
}
.slide-x-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-x-enter {
  transform: translateX(-10px);
  opacity: 0;
}
.slide-x-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-y-enter-active {
  transition: all 0.3s ease-in-out;
}
.slide-y-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-y-enter,
.slide-y-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
